.error{
    color: blue;
}
.success{
    color: rgb(255, 0, 0);
}
.success.feedback{
    border: 1px dashed rgb(255, 0, 0);
}
#content{
    background-color: lightgreen;
    padding: 20px;
}
a[href]{/*  To call every anchor tag in the text*/
   background-color: beige; 
   color: gold; 
   text-decoration: none; 
   font-weight: bold;
   text-transform: uppercase;
}
